{{!-- ABA: Spells --}}
<div class="pf1ar-tab-content pf1ar-spells">
  <h3 class="pf1ar-panel-title"><i class="fa-solid fa-book-open" inert></i><span>{{localize "PF1.Spells"}}</span></h3>
  {{> "systems/pf1/templates/actors/parts/actor-spellbook-front.hbs"}}
</div>
